* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root {
    --defpadding: 8% 12%;
    --defmediaquerypadding:10% 4%;
    --defbackgrouncolor: rgb(230, 237, 239);
    --white: #fff;
    --black: #000;
    --lightgray:  rgb(206, 206, 206);
    --defbottommargin: 4rem;
}

section {
    background-color: var(--defbackgrouncolor);
}

.portfolio,
.testimonial,
.about,
.contact{
    padding: var(--defpadding);

}
h1.heading,
.testimonial .heading {
    text-align: center;
    display: inline-block; 
    border-bottom: 2px solid var(--black);
    margin: 0 auto; 
    margin-bottom: var(--defbottommargin);
}
.hero {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.carousel-inner img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.navbar {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 1000;
    color: var(--white);
}

.navbar-nav {
    margin-left: auto; 
}

.navbar h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0 !important;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-link {
    font-weight:600 ;
    font-size: 20px; 
    color: var(--white) !important;
}
.navbar-toggler {
    border-color: var(--white) !important; 
    background-color: var(--lightgray) !important;
}

.container-fluid{
    padding-left: 5% !important;
    padding-right: 5% !important;
}


.herotext {
    position: absolute;
    top: 40%; 
    left: 40%; 
    color: var(--white);
    z-index: 10; 
    margin-left: 15%;
    font-size: 40px;
    width: 50%;
}


.herotext p{
    margin-bottom: var(--defbottommargin);
    font-size: 3.8vw;
    font-weight: bold;
    line-height: 1.3;

}

.col {
    flex: 25%;
    padding: 0 10px;
}

.row {
    margin-right: 0 !important;
}

.col img {
    margin-top: 25px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.col img:hover {
    transform: scale(1.01); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}



.rowimg:after {
    content: "";
    display: table;
    clear: both;
}

.col:nth-child(odd) img:nth-child(1),
.col:nth-child(even) img:nth-child(2) {
    height: 450px; 
}

.col:nth-child(odd) img:nth-child(2),
.col:nth-child(even) img:nth-child(1) {
    height: 300px; 
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonialLeft{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}

.forthPage {
    width: 100%;
    height: 100vh;
    background-image: url(assets/4thPageBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: grayscale(80%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.forthPage p{
    font-size: 3.8vw;
    font-weight: bold;
    line-height: 1.3;
    max-width: 80%;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.aboutText {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.aboutText h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: var(--defbottommargin);
}

.aboutText p {
    line-height: 1.6em;
    margin-bottom: var(--defbottommargin);
}

.scroll-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 20px;
}

.scroll-container img {
    flex-shrink: 0;
    width: auto;
    height: 400px;
    margin-right: 10px;
}

.scroll-container img:last-child {
    margin-right: 0;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.arrow-container button {
    color: var(--black);
    border: none;
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.arrow-container button:hover {
    background-color:var(--lightgray);
}

.arrow-container button:active {
    transform: scale(0.9);
}

.contact {
    background-color: var(--lightgray);
    height: auto;
    color: var(--black);
}

.contact h2 {
    padding-bottom: 40px;
}

.gmail {
    margin-bottom: 10px;
}

.contactLeft {
    flex: 1;
    padding: 20px;
}

.contactRight {
    flex: 1;
    padding: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--black);
}

.yourName,
.yourMail {
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

@media (min-width: 468px) and (max-width: 891.98px) {
    .col:nth-child(odd) img:nth-child(1),
    .col:nth-child(even) img:nth-child(2) {
        height: 400px; 
    }

    .col:nth-child(odd) img:nth-child(2),
    .col:nth-child(even) img:nth-child(1) {
        height: 250px; 
    }
}

@media (max-width: 768px) {
    h1.heading {
        font-size: 2rem; 
    }
    .portfolio,
    .testimonial,
    .about,
    .contact{
    padding: var(--defmediaquerypadding);

}
.navbar-nav .nav-link {
    font-weight:500 ;
    font-size: 15px; 
}
    .herotext {
        position: absolute;
        top: unset;
        bottom: 30px; 
        transform: unset;
        width: 80%;
        margin-left: 10%;
    }
    .herotext p{
        font-size: 25px !important;
    }
    .navbar h2{
        font-size: 4vw;
    }
    .col img {
        margin-top: 20px;
        margin-left: 2%;    
    }
    .aboutText {
        max-width: 90%;
    }
    .scroll-container img {
        width: 100%;
        height: 400px;
    }
    .forthPage p {
        font-size: 25px !important;
        max-width: 90%;
    }
}
